.wrapper
  #scene
    .snow
      - var n = 1;
      - var bubbles = 50;
      while n <= bubbles 
        .flake
        - n++;

    .text
      h1 Happy Birthday 
      h2 Beatrix
      
    .tree.one
    .tree.two
    .tree.three
    .tree.four
    .tree.five
    
  //.bea 
  .platform
    .quote You, Magic Like A Snow Globe