.container
  .text(data-splitting='') You're (25), Javascript!
  .presents
    .present.pink
      .lid
      .box
      .bow
      .ribbon
    .present.yellow
      .lid
      .box
      .bow
      .ribbon
    .present.purple
      .lid
      .box
      .bow
      .ribbon